/*=======================================
Fonts
=======================================*/
@import url("https://use.typekit.net/pkl3kvq.css");



/*===================================
General Styles
===================================*/
body, html {
    background-color: #282a36;
    font-family: proxima-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px !important;
}

h1 {
    color: #bd93f9;
    font-weight: 700;
    text-align: center;
}

h2 {
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}



/*===================================
Custom Bootstrap Styles
===================================*/
.btn-primary {
    background-color: #50fa7b;
    color: #282a36;
}

.btn-warning {
    background-color: #ffb86c;
}



/*===================================
Shopping List Styles
===================================*/

.task-list {
    list-style: none;
}

.task-list > li {
    color: #f2f2f2;
}

.done-true {
    color: #b2bec3;
    text-decoration: line-through;
    transition: 0.2s ease;
}

.remove-task:hover {
    color: #ff5555;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-task {
    margin: 0 auto;
    width: 80%;
}

.clear-list {
    display: block;
    margin: 0 auto;
}