/*=======================================
Fonts
=======================================*/
@import url("https://use.typekit.net/pkl3kvq.css");



/*===================================
General Styles
===================================*/
body {
    background-color: #f2f2f2;
    color: #282a36;
    font-family: proxima-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.3s ease; //for reverting back from night-mode
}

.wrapper {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 500px;
    width: 90%;
}

/* h1 {
    color: #bd93f9;
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
} */

.tm-logo {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 275px;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    padding-left: 15px;
}

#footer-nav {
    display: block;
    margin: 0 auto;
}

.active {
    color: #bd93f9 !important;
}


/*===================================
Custom Bootstrap Styles
===================================*/
.btn {
    border: none;
    color: #f2f2f2;
}

.btn-primary {
    background-color: #2ecc71;
    /* color: #282a36; */
}

.btn-primary:hover {
    background-color: #27ae60;
    transition: 0.2s ease;
}

.btn-primary:focus {
    background-color: #27ae60 !important;
}

.btn-warning {
    background-color: #ff4d4d;
}

.btn-warning:hover {
    background-color: #ec2929;
    color: #f2f2f2;
    transition: 0.2s ease;
}

.btn-warning:focus {
    background-color: #ec2929 !important;
    color: #f2f2f2 !important;
}



/*===================================
Task List Styles
===================================*/

.task-list {
    height: 300px;
    list-style: none;
    overflow: auto;
    padding-left: 25px;
}

.done-true {
    color: #b2bec3;
    text-decoration: line-through;
    transition: 0.2s ease;
}

.remove-task:hover {
    color: #ff4d4d;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-task {
    margin: 0 auto;
    width: 100%;
}

.clear-list {
    display: block;
    margin: 0 auto;
}



/*===================================
Night Mode Styles
===================================*/
.dm-toggle {
    text-align: center;
}

.dm-toggle > .custom-control-label:hover {
    cursor: pointer;
}

.nightMode {
    background-color: #282a36;
    color: #f2f2f2 !important;
    transition: 0.3s ease;
}

.custom-switch .custom-control-label::after {
    background-color: #282a36;
    border-color: #6272a4;

}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #bd93f9;
    border-color: #6272a4;
}





