/*=======================================
Fonts
=======================================*/
@import url("https://use.typekit.net/pkl3kvq.css");



/*===================================
General Styles
===================================*/
body, html {
    /* background-color: #282a36; */
    background-color: #f2f2f2;
    color: #282a36;
    font-family: proxima-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.2s ease; //for reverting back from night-mode
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
}

h1 {
    color: #bd93f9;
    font-weight: 700;
    text-align: center;
}

h2 {
    /* color: #f2f2f2; */
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}



/*===================================
Custom Bootstrap Styles
===================================*/
.btn {
    border: none;
    color: #f2f2f2;
}

.btn-primary {
    background-color: #26de81;
    /* color: #282a36; */
}

.btn-primary:hover {
    background-color: #20bf6b;
    transition: 0.2s ease;
}

.btn-warning {
    background-color: #fd9644;
}

.btn-warning:hover {
    background-color: #fa8231;
    color: #f2f2f2;
    transition: 0.2s ease;
}



/*===================================
Task List Styles
===================================*/

.task-list {
    list-style: none;
}

.done-true {
    color: #b2bec3;
    text-decoration: line-through;
    transition: 0.2s ease;
}

.remove-task:hover {
    color: #ff5555;
    cursor: pointer;
    transition: 0.2s ease;
}

.new-task {
    margin: 0 auto;
    width: 80%;
}

.clear-list {
    display: block;
    margin: 0 auto;
}



/*===================================
Night Mode Styles
===================================*/
.dm-toggle {
    background-color: #282a36;
    display: block;
    margin: 0 auto;
}

.dm-toggle:hover {
    background-color: #636e72;
    transition: 0.2s ease;
}

.nightMode {
    background-color: #282a36;
    color: #f2f2f2 !important;
    transition: 0.2s ease;
}





