<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Master</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
</head>
<body ng-app="taskMasterApp">
    <h1>Task Master</h1>
    <div ng-controller="taskCtrl as taskList">
        <form>
            <div class="input-group" style="width: 325px;">
                <input type="text" class="form-control" ng-model="taskList.taskText" placeholder="Enter task name">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" ng-click="taskList.addTask()">Add</button>
                </div>
            </div>
        <ul class="task-list">
            <li ng-repeat="task in taskList.tasks">
                <input type="checkbox" ng-model="taskList.done" aria-label="Checkbox for task">
                <span class="done-{{taskList.done}}">{{ task.text }}</span>
            </li>
        </ul>
        <button class="btn btn-warning" type="button" ng-click="taskList.clear()">Clear List</button>
    </div>

    <script>
        //Define the 'grocartApp' module.
        var taskMasterApp = angular.module('taskMasterApp', []);

        //Define the 'taskCtrl' controller on the 'taskMasterApp' module.
        taskMasterApp.controller('taskCtrl', function($scope) {
            var taskList = this;
            taskList.tasks = [];

            taskList.addTask = function() {
                taskList.tasks.push({done:false, text:taskList.taskText}); //adds task to list, checkbox to unchecked
                taskList.taskText = ''; //resets task input to empty
            }

            taskList.clear = function() {
                taskList.tasks = [];
            }
        });
    </script>
</body>
</html>